.service-detail__content {
  @apply flex flex-col gap-[8rem]
}

.service-detail__container {
  @apply
  flex
  flex-col
  gap-[3rem]
  min-tablet:gap-[6rem]
}

.service-detail__content-header {
  @apply flex 
  items-center 
  justify-between
  gap-[2rem]
}

.service-detail__content-header_title {
  @apply 
  flex 
  items-center 
  gap-[2rem] 
  text-[4rem]
}

.service-detail__backlink {
  @apply
  hidden
  min-tablet:block
}

.service-detail__content-header_icon {
  @apply border 
  border-c-blue-dark 
  h-[5rem]
  min-tablet:h-[6rem]
  w-[5rem]
  min-tablet:w-[6rem]
  aspect-square
  flex
  justify-center
  items-center
  rounded-[1rem]
}

.service-detail__content-header_icon img {
  @apply
  max-h-[2rem]
  min-tablet:max-h-[2.5rem]
}

.service-detail__content-title {
  @apply 
  text-[2.4rem]
  min-tablet:text-[4rem] 
  text-c-blue-dark 
  font-medium;
}


.service-detail__content-navigation {
  @apply p-0 
    text-[1.8rem] 
    text-c-font-color-main 
    font-normal;
}

.service-detail__content-img-wrapper {
  @apply 
  w-full 
  h-[40rem]
  min-tablet:h-[60rem] 
  relative
  aspect-[59/30]
  bg-gray-500
  rounded-[2rem]
  overflow-hidden
}

.service-detail-content__img {
  @apply
  w-full
  h-full
  object-cover
}

.service-detail__content-desc {
  @apply 
  /* mt-[4rem] */
  text-[1.6rem];
}

.service-detail__footer {
  @apply
  /* border */
  flex
  justify-end
}

.service-detail__next {
  @apply
  /* border */
  /* border-black */
  flex
  flex-col
  gap-[.5rem]
  min-tablet:gap-[1rem]
}

.service-detail__next span:nth-child(1) {
  @apply
  text-[1.4rem]
  text-c-font-color-secondary-1
}

.service-detail__next span:nth-child(2) {
  @apply
  text-[1.6rem]
  min-tablet:text-[1.8rem]
  font-medium
  text-c-font-color-main
}