.footer {
  @apply
  bg-c-blue-dark
  text-c-white
}

.footer__wrapper {
  @apply
  max-w-[144rem]
  mx-auto
}

.footer__main {
  @apply
  /* border */
  px-[2rem]
  min-tablet:px-[14rem]
  pt-[6rem]
  pb-[10rem]
  flex
  flex-col
  min-tablet:flex-row
  gap-[4rem]
  justify-between
}

.footer__address {
  @apply
  /* border */
  flex
  flex-col
  gap-[2rem]
  text-[1.6rem]
}

.footer__contact {
  @apply
  /* border */
  flex
  gap-[4rem]
  min-tablet:gap-[10rem]
  min-tablet:items-end
  flex-col
  min-tablet:flex-row
}

.footer__social-media {
  @apply
  flex
  /* border */
  gap-[4rem]
}

.footer__social-media svg {
  @apply
  h-[1.8rem]
}

.footer__directs {
  @apply
  /* border */
  flex
  flex-col
  gap-[2rem]
}

.footer__direct {
  @apply
  /* border */
  flex
  flex-col
  gap-[.1rem]
}

.footer__direct span {
  @apply
  text-[1.4rem]
  text-c-font-color-secondary-2
}

.footer__direct a {
  @apply
  text-[1.6rem]
  min-tablet:text-[1.8rem]
  font-medium
}

.footer__other {
  @apply
  bg-c-variant-blue
  flex
  justify-between
  px-[2rem]
  min-tablet:px-[4rem]
  py-[1.6rem]
  text-[1.2rem]
  min-tablet:text-[1.4rem]
  text-c-font-color-secondary-2
}

.footer__legal {
  @apply
  flex
  gap-[4rem]
}